modules = ["nodejs-20"]
run = "npm run dev"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
build = ["sh", "-c", "npm install && npm run build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80
